html, body {
  font-family: sans-serif; 
  font-weight: 300; 
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
}

.container {
  max-width: 970px;
}

.supporting {

  background-size: 141px 142px;
}

.btn {
  background-color: transparent;
  color: #023577;
  border: 1px solid #023577;
  border-radius: 2px;
  padding: 8px 20px;
  text-decoration: none;
  cursor: pointer;
}

.btn:hover {
  color: #fff;
  background-color: #023577;
}

/****************** main *******************/
.topHeader {
  background-color: #FFF;
}

.topHeader .container{
  text-align: center;
  height: 80px;
}

.logo {
  font-size: 40px;
  position: relative;
  top: 6px;
  color: #023577;
}

.logo:hover {
  text-decoration: none;
}

.topHeader .user {
  padding: 20px 40px; 
}
.topHeader .user a {
  margin-left: 30px;
  text-decoration: none;
  cursor: pointer;
}

.log {
  color: #023577;
}

.log:hover {
  color: #023577;
}

.logHello {
  color: #023577;
}

h1 {
  font-size: 60px;
  font-weight: 300;
  margin-top: 80px;
  margin-bottom: 40px;  
}

form {
  margin-top: 80px;
}


/*******************************************/



/**************** feature ******************/

.indexFeature {
  padding-top: 15%;
}

.feature {
  background: url('https://s3.amazonaws.com/codecademy-content/projects/bolt-network/feature.jpg') no-repeat center center;
  background-size: cover;
  min-height: 480px;
  text-align: center;
  vertical-align: center;
}

.feature h2 {
  color: #fff;
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 10px;
}

.feature p {
  font-size: 16px;  
}
/*******************************************/

/**************** footer *******************/
.footer {
  background-color: #000000;
  padding-top: 20px;
  min-height: 300px;
}

.footer h3 {
  font-size: 18px;
  font-weight: 300;
}

.footer ul {
  padding: 0;
  list-style-type: none;
}
.footer li {

}

.footer a {
  text-decoration: none;
  color: #023577;
}

/*******************************************/


.errorRegister {
  color: red;
  font-weight: bold;
}

.errorRegister p {
  display: inline-block;
  margin-left: 10px;
}

/*******************************************/

/*************** Connexion *****************/

.connexion .vcenter {
  margin-top: 50px;
}

.connexion {
  background: url('/idnove/images/Innovation.jpg') no-repeat center center;
  background-size: cover;
  color: #FFF;
  background-color: #102357;
  min-height: 500px;
}

.connexion .error {
  color: red;
  font-weight: bold;
}

.connexion .btn {
  font-weight: bold;
}

/*******************************************/

.form-control {
  width: 500px;
}

#registerForm {
  margin: auto;
  width: 650px;
  margin-top: 50px;
}

.btn-register {
  background-color: #023577;
  color: #FFF;
  margin-top: 50px;
}

#hregister {
  margin-top: 50px;
}


.main-account {
  background-color: #A7AAAE;
  min-height: 400px;
}

.captcha {
  padding: 5px;
  margin-left: 15px;
  width: 100px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 4px;
  border : 1px solid #8D8789;
  cursor: none;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}