.vcenter {
    margin-top: 150px;
}

.connexion {
    background-image: url('./images/Innovation.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
    background-color: 1023577;
}

.error {
    color: red;
    font-weight: bold;
}

.btn {
    font-weight: bold;
}